<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /team4/eatroutes-web/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /team4/eatroutes-web/index.html [L]
</IfModule>